@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    font-size: 22px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.calculadora{
    background: #111;
    padding: 20px;
    border-radius: 10px;
}

.calculadora form input{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 7px;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.247),5px 5px 15px rgba(0, 0, 0, 0.267);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 3px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.igual{
    width: 129px;
}

form input.operador{
    color: rgb(250, 156, 48);
    font-weight: 600;
}

footer{
   color: rgb(230, 224, 224);
   font-size: 13px;
   margin-top: 10px;
   font-weight: normal;
}

footer a {
    text-decoration: none;
    color: rgb(253, 252, 252);
    font-size: 13.4px;
    cursor: pointer;
}

